<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="knownServers" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <knownServers>
        <add key="server0" value="http://localhost:8085" />
        <add key="server1" value="http://localhost:8086" />
    </knownServers>
    <system.web>
        <httpRuntime maxRequestLength="1073741824" executionTimeout="540000" />
        <!-- 1 GB limit there -->
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <add path="*" verb="*" type="RavenFS.Infrastructure.RouterHandlerFactory, RavenFS"/>
        </httpHandlers>

    </system.web>
    <system.webServer >
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="Route Requests" path="*" verb="*" type="RavenFS.Infrastructure.RouterHandlerFactory, RavenFS"/>
        </handlers>
        <security>
            <requestFiltering>
                <!-- 1 GB limit there -->
                <requestLimits maxAllowedContentLength="1073741824"  />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
