<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<httpRuntime
			maxRequestLength="1073741824"
			executionTimeout="540000" />
	</system.web>
</configuration>
