<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="Rx-Core" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Linq" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Main" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.0.20823" targetFramework="net40" />
  <package id="xNLog" version="2.0.0.2000" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net40" />
</packages>